.delete-user{
    background-color: #efefef;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete-confirmation{
    width: 50%;
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
}
.delete-confirmation h1{
    text-align: center;
    margin-top: 30px;
    font-size: 45px;
}
.delete{
    background-color: #efefef;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}
.delete h5{
    font-size: 18px;
}
.delete button{
    background-color: #780000;
    width: 120px;
    height: 35px;
    margin-top: 20px;
    border: 0;
    outline: o;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}